.card-img-top{
    text-align: center;
    display: flex;
    height: 500px;
    margin: 0 auto;
    align-items: center;
}

body{
    background-color: rgb(184, 99, 88);
}
#navbarSupportedContent{
    display: flex;
    text-align: center;
    align-items: center;
    background-color: rgb(128, 31, 14);
}

.navbar-toggler{
    background-color: white;
}

.navbar{
  margin-bottom: 30px;
}

.btn-outline-success{
    border-radius: 20px;
}

.row{

}

